body{
    margin: 0px;
    height: 100vh;
    background-image: url("/Images/bg.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    grid:auto auto auto/100%
}