.container{
    display: grid;
    grid-template-rows: 20% 2px 80%;
    grid-template-columns: 100%;
    
}
.tabBar{
    display: flex;
    /* grid:100%/auto auto auto auto auto; */
    /* align-items: center; */
    justify-items: center;
    position: relative;

}
.container>.tabBar .tabBtn{
    display: flex;  
    /* margin-top: 20px;
    margin-bottom: 20px; */
    margin: 20px;
    height: 60%;
    width: 70%;
    border-radius: 25px;
    align-self: center;
}
.container hr{
    margin-left:20px ;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: white;
    border:none;
    border-radius: 1px;
    height: 1px;
}
.tabBtnActive{
    background-color:rgb(32,201,160);

}
.tabBtnBg{
    margin: 20px;
    height: 60%;
    width: 16%;
    border-radius: 25px;
    align-self: center;
    animation: translateX(0);
    background-color:rgb(32,201,160);
    position: absolute;
    z-index: -1;
    transition: all .3s;

}
.container div p{
    margin: auto;
    font-size: 16px;
    color: white;
}
.tabContent{
    font-size: 16px;
    margin: 20px;
    color: white;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.326);
}
.tabContentText{
    margin: 15px;
}